node_modules
.pnpm-store
.dist
.next
.next-static
out
coverage
.env
.env.*
!.env.example
dist
build
.tmp
.DS_Store
.idea
.vscode
pnpm-lock.yaml
/prisma/migrations
/logs
/uploads
.minio
postgres-data
redis-data
opensearch-data
